version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      time: "04:00"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      time: "04:00"
